.container{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;
    gap: 10px;
}
.ShoesContainer{
    margin: 15% 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;
    gap: 10px;
    position: relative;
    animation-name: ShoesContainer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to top right,var(--color-dark) 2%,transparent)
    
}
@keyframes ShoesContainer{
    0%{
        background-image: linear-gradient(to top right,var(--color-dark) 90%,transparent)
    }
    100%{
        background-color: transparent;
    }
    
}
/* .ShoesContainer:has(img:hover){

} */
.ShoesContainer img{
    width: 30%;
}
.ShoesContainer svg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.ShoesContainer svg path{
    stroke: var(--color-orange);
    stroke-width: 10px;
    filter: drop-shadow(0 0 20px var(--color-orange));
}

@media screen and (max-width:650px){
    .container{
        flex-direction: column;
        gap: 40px;
    }
    .ShoesContainer{
        flex-direction: column;
        gap: 40px;
        justify-content: end;
    }
    .ShoesContainer svg{
        width: 100%;
        height:50%;
    }
    .ShoesContainer img{
        width: 50%;
    }
    
    
}

@media screen and (max-width:400px) {
    .ShoesContainer svg{
       height: 30%;
    }
    
}