.card{
    position: relative;
    width: 300px;
    min-width: 300px !important;
    min-height:380px !important;
    box-shadow: 0 0 2px var(--color-dark);
    transition: 1s;
}
.card .imagebox{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center !important;
    justify-content: center;
}
.card .imagebox img{
    display: block;
    width:100%;
    height: auto;
}
.card .cardContent{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto !important;
    background-color: var(--color-orange);
    color: var(--color-light);
    text-align: center !important;
    text-transform: capitalize;
}
.card .cardContent h6{
    font-variant:small-caps;
}
.card:hover{
    scale: 0.98 !important;
    box-shadow: 0 0 10px var(--color-dark);
}
@media screen and (max-width:600px) {
    .card{
        width: 90%;
        height: auto;
        box-shadow: 0 0 0 var(--color-dark);
    }
    
}