.Logo{
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 40px;
    padding: 0 10px;
}
.Logo span {
    font-size: 28px;
}
.Logo span span{
    color: var(--color-orange);
    text-transform: capitalize;
}