.Colors{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 30px;
    gap: 5px;

}
.Colors .circle1 ,.circle2, .circle3, .circle4{
    background-color: var(--color-orange);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.1px solid var(--color-beige);
}
.Colors .circle2{
    background-color: red;
}
.Colors .circle3{
    background-color: white;
}
.Colors .circle4{
    background-color: gray;
}