.nav{
    background-color: var(--color-beige);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .logo{
    padding:0px 10px;
    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;
}
.span1{
    color:var( --color-semiDark);
}
.span2{
    color:var( --color-orange);
}

.nav ul{
    padding: 10px;
    list-style: none;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-semiDark);


}
.nav ul li a:hover{
    color: var(--color-orange);
    cursor: pointer;
}
@media screen and (max-width:650px){
    .nav ul{
        display: none;
    
    
    }
    
}