.footer{
    width: 100%;
    min-height: 100px;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.footer .firstSection{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.footer .firstSection div{
    width: fit-content;
}
.footer .firstSection div ul{
    list-style: none;
    width: 300px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-dark);
}
.footer .firstSection div ul li a:hover{
    color: var(--color-orange);
    cursor: pointer;
}
@media screen and (max-width:750px){
    .footer .firstSection{
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
    
}
@media screen and (max-width:300px){
    .footer .firstSection div ul{
       flex-direction: column;
       gap: 10px;
       width: fit-content;
   
    }
    
}