@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Playfair Display', serif;
  background-color: var(--color-dark);
}
:root{
  --color-dark:#12153b;
  --color-semiDark:#1746A2;
  --color-lightBlue:#5F9DF7;
  --color-orange:#FF731D;
  --color-beige:#f5f5b4;
}