@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Playfair Display' !important;
  background-color: var(--color-light);
}
:root{
  --color-dark:black; 
  --color-orange:#ff6700;
  --color-light:#FFFFFF;
}
::-webkit-scrollbar {
  display: none;
}